evaluate arithmetic expression/a.out
evaluate arithmetic expression/lex.yy.c
evaluate arithmetic expression/y.tab.c
evaluate arithmetic expression/y.tab.h
evaluate relational expression/a.out
evaluate relational expression/lex.yy.c
evaluate relational expression/y.tab.c
evaluate relational expression/y.tab.h
evaluate logical expression/a.out
evaluate logical expression/lex.yy.c
evaluate logical expression/y.tab.c
evaluate logical expression/y.tab.h
convert binary to decimal/a.out
convert binary to decimal/lex.yy.c
convert binary to decimal/y.tab.c
convert binary to decimal/y.tab.h